DEBUG=True
DJANGO_SECRET_KEY=django...pcj+
NOTIF_ENV=local
ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
SQLITE_PATH=db.sqlite3
BACKEND_PORT=8000
RUNSERVER_HOST=127.0.0.1
DEV_API_LATENCY_MS=100
DEV_API_LATENCY_JITTER_MS=50
