django>=4.2,<5.0
djangorestframework>=3.14,<4.0
djangorestframework_simplejwt>=5.2,<6.0
# psycopg2-binary>=2.9

requests>=2.28.2,<3.0
beautifulsoup4>=4.1,<5.0
lxml>=4.6,<5.0

python-dotenv==1.0.0

# Pytest might be overkill
# pytest>=7.0,<8.0
# pytest-django>=4.1,<5.0
faker>=18.0,<19.0
requests-mock~=1.11.0

# Not needed to run the app, 
# used for improving and testing code
# TODO: Look into stuff like poetry to handle dependencies, and different configurations for prod and dev
# pyright>=1.1
mypy
django-stubs>=4.2,<5.0
djangorestframework-stubs
types-requests
types-beautifulsoup4
types-six
ruff
